<!DOCTYPE html>

<html>
  <head>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta charset='utf-8'>
    <title>Key Generator</title>
    <link rel='stylesheet' href='{{url_for("static", filename="style.css")}}'>
  </head>
  <body>
    <h1>Key Generator</h1>
    <form class='enc-form col'>
      <label>Algoritma:
        <select id='alg'>
          <option value='RSA'>RSA</option>
          <option value='EG'>ElGamal</option>
          <option value='Paillier'>Paillier</option>
          <option value='ECC'>ECC</option>
        </select>
      </label>
      <label id='bits-display'>Jumlah bit:
        <select id='bits'>
          <option value="32">32</option>
          <option value="64">64</option>
          <option value="128">128</option>
          <option value="256">256</option>
          <option value="512">512</option>
          <option value="1024">1024</option>
        </select>
      </label>
      <label id='curve-name'>Jenis kurva:
        <select id='curve'>
          <option value="secp192r1">secp192r1</option>
          <option value="secp224r1">secp224r1</option>
          <option value="secp256r1">secp256r1</option>
          <option value="secp384r1">secp384r1</option>
          <option value="secp521r1">secp521r1</option>
          <option value="brainpoolP160r1">brainpoolP160r1</option>
          <option value="brainpoolP192r1">brainpoolP192r1</option>
          <option value="brainpoolP224r1">brainpoolP224r1</option>
          <option value="brainpoolP256r1">brainpoolP256r1</option>
          <option value="brainpoolP320r1">brainpoolP320r1</option>
          <option value="brainpoolP384r1">brainpoolP384r1</option>
          <option value="brainpoolP512r1">brainpoolP512r1</option>
        </select>
      </label>
      <button id='submit'>Submit</button>
    </form>
    <a id='pubkey' download='key.pub' hidden><div class='btn-key'>Download Public Key</div></a>
    <a id='prikey' download='key.pri' hidden><div class='btn-key'>Download Private Key</div></a>
    <div class='btn-back'><a href='/'><< Back</a></div>
    <script>
      document.querySelector('#submit').addEventListener('click', async e => {
        e.preventDefault();
        const form = new FormData();
        form.append('alg', document.querySelector('#alg').value);
        form.append('bits', document.querySelector('#bits').value);
        form.append('cname', document.querySelector('#curve').value);
        const response = await fetch('/generatekey', {
          method: 'POST',
          body: form
        }).then(res => res.json())
        const pubkeyDownload = document.querySelector('#pubkey');
        const prikeyDownload = document.querySelector('#prikey');
        pubkeyDownload.href = window.URL.createObjectURL(new Blob([JSON.stringify(response.pubkey)]));
        prikeyDownload.href = window.URL.createObjectURL(new Blob([JSON.stringify(response.privkey)]));
        pubkeyDownload.hidden = false;
        prikeyDownload.hidden = false;
      });

      document.getElementById("alg").onchange = function() {changeParam()};

      function changeParam() {
        var x = document.getElementById("alg").value;
        if(x=='RSA')
        {
          document.getElementById("bits-display").style.display = "block";
        }
        else
        {
          document.getElementById("bits-display").style.display = "none";
        }

        if(x=='ECC'){
          document.getElementById("curve-name").style.display = "block";
        }
        else
        {
          document.getElementById("curve-name").style.display = "none";
        }
      }
    </script>
  </body>
</html>