<!DOCTYPE html>

<html>
  <head>
    <meta name='viewport' content='width=device-width;initial-scale=1'>
    <meta charset='utf-8'>
    <title>Enkripsi/Dekripsi</title>
    <link rel='stylesheet' href='{{url_for("static", filename="style.css")}}'>
  </head>
  <body>
    <h1>Kalkulator Enkripsi/Dekripsi</h1>
    <form class='enc-form col'>
      <label>Algoritma:
        <select id='alg'>
          <option value='RSA'>RSA</option>
          <option value='EG'>ElGamal</option>
          <option value='Paillier'>Paillier</option>
          <option value='ECC'>ECC</option>
        </select>
      </label>
      <label id='bits-display'>Jumlah bit:
        <select id='bits'>
          <option value="32">32</option>
          <option value="64">64</option>
          <option value="128">128</option>
          <option value="256">256</option>
          <option value="512">512</option>
          <option value="1024">1024</option>
        </select>
      </label>
      <button id='submit'>Submit</button>
    </form>
    <a id='pubkey' download='key.pub' hidden>Download Public Key</a>
    <a id='prikey' download='key.pri' hidden>Download Private Key</a>
    <script>
      document.querySelector('#submit').addEventListener('click', async e => {
        e.preventDefault();
        const form = new FormData();
        form.append('alg', document.querySelector('#alg').value);
        form.append('bits', document.querySelector('#bits').value);
        const response = await fetch('/generatekey', {
          method: 'POST',
          body: form
        }).then(res => res.json())
        const pubkeyDownload = document.querySelector('#pubkey');
        const prikeyDownload = document.querySelector('#prikey');
        pubkeyDownload.href = window.URL.createObjectURL(new Blob([JSON.stringify(response.pubkey)]));
        prikeyDownload.href = window.URL.createObjectURL(new Blob([JSON.stringify(response.privkey)]));
        pubkeyDownload.hidden = false;
        prikeyDownload.hidden = false;
      });
    </script>
  </body>
</html>